@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --light-blue-100: #f3f5fc;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #092e5c;
    --gray-400: #495057;
    --gray-200: #d8dfe8;
    --shadow: rgba(0, 0, 0, 0.08);
    font-family: Inter, sans-serif;
    font-weight: 400;
}

body {
    height: 100%;
    background-color: var(--light-blue-100);
    display: flex;
    justify-content: center;
}

.contenedor-principal {
    width: 100%;
    max-width: 1440px;
}

/**************************************************************/
/***************************        ***************************/
/*************************** Header ***************************/
/***************************        ***************************/
/**************************************************************/
header {
    width: 100%;
    height: 96px;
}

#logo {
    margin-top: 24px;
    margin-left: 16px;
}

/**************************************************************/
/****************************      ****************************/
/**************************** Main ****************************/
/****************************      ****************************/
/**************************************************************/
main {
    padding: 16px;
}

#texto-in {
    margin-top: 40px;
    width: 100%;
    min-height: 320px;
    outline: none;
    border: none;
    background-color: var(--light-blue-100);
    font-size: 32px;
    line-height: 48px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--dark-blue-300);
    resize: none;
    box-sizing: border-box;
}

#texto.in:focus {
    outline: none;
    border: none;
}

#texto-in::placeholder {
    color: var(--dark-blue-300);
}

.mensaje-limite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#signo-exclamacion {
    opacity: 0.6;
    margin-right: 8px;
}

.mensaje-limite p {
    font-size: 12px;
    line-height: 18px;
    color: var(--gray-400);
}

.contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    margin-top: 15px;
    margin-bottom: 40px;
}

/**************************************************************/
/************** Estilos generales de los botones **************/
/**************************************************************/
#btn-encriptar,
#btn-desencriptar,
#btn-copiar {
    width: 100%;
    height: 67px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#btn-encriptar {
    color: var(--white);
    background-color: var(--dark-blue-300);
    transition: background-color 0.4s ease-in-out;
}

#btn-desencriptar {
    color: var(--dark-blue-300);
    background-color: var(--light-blue-100);
    border: 1px solid var(--dark-blue-300);
    transition: background-color 0.4s ease-in-out;
}

#btn-copiar {
    color: var(--dark-blue-300);
    background-color: var(--white);
    border: 1px solid var(--dark-blue-300);
    transition: background-color 0.5s ease-in-out;
}

@media (hover: hover) {
    #btn-encriptar:hover {
        background-color: var(--dark-blue-400);
    }

    #btn-desencriptar:hover {
        background-color: var(--gray-300);
    }

    #btn-copiar:hover {
        background-color: var(--gray-200);
    }
}

#btn-encriptar:focus {
    background-color: var(--dark-blue-300);
}

#btn-desencriptar:focus {
    background-color: var(--light-blue-100);
}

#btn-copiar:focus {
    background-color: var(--white);
}

.contenedor-salida {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 24px;
    padding: 32px;
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px var(--shadow);
}

#texto-out {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--white);
    font-size: 24px;
    line-height: 36px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--gray-400);
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 80%;
    margin-bottom: 29px;
}

#mensaje-no-encontrado {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 28.8px;
    margin-bottom: 16px;
}

#mensaje-ingresar-texto {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

/**************************************************************/
/**************** Objetos ocultos por default *****************/
/**************************************************************/
#texto-out,
#btn-copiar,
#munieco {
    display: none;
}

/**************************************************************/
/****************** Clases manejadas por JS *******************/
/**************************************************************/
.boton-copiar-clickeado {
    background-color: var(--light-blue-100) !important;
}

/**************************************************************/
/******************** Responsive + 768px **********************/
/**************************************************************/
@media (min-width: 768px) {
    #logo {
        width: 31.9px;
        height: 46.37px;
        margin-top: 73.42px;
        margin-left: 40px;
    }

    main {
        padding: 40px;
    }

    #texto-in {
        margin-top: 103px;
        min-height: 595px;
    }

    .contenedor-salida {
        margin-left: 0;
        margin-bottom: 0;
    }

    .contenedor-botones {
        flex-direction: row;
    }
}

/**************************************************************/
/******************** Responsive + 1440px *********************/
/**************************************************************/
@media (min-width: 1440px) {
    header {
        position: relative;
        height: 0;
    }

    #logo {
        position: absoulte;
        width: 31.9px;
        height: 48px;
        margin-top: 40px;
        margin-left: 85px;
    }

    main {
        max-width: 1920px;
        padding-left: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
    }

    .contenedor-entrada {
        width: 100%;
    }

    #signo-exclamacion {
        opacity: 0.9;
    }

    .contenedor-salida {
        width: 400px;
        max-height: 944px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #munieco {
        display: block;
    }

    .contenedor-botones {
        flex-direction: row;
    }

    #btn-desencriptar {
        background-color: var(--gray-200);
    }
}
